<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a href="/">
                <img src="{{ url_for('static', filename='channel.jpg') }}" height="15" style="vertical-align: middle;"> Memebot9000 feed
            </a>
            <a href="about">About</a>
        </div>
        <div class="information">
            <img class="cover" src="{{ url_for('static', filename='cover.png') }}" height="400">
            <div class="cover overlap">
                <h1>Recent videos</h1>
                <h2>
                    {% set datetime = use('datetime') %}
                    {%for i in range(l)%}
                        <a href='/watch?id={{videos[i][0]}}'>{{videos[i][1]}} | {{datetime.datetime.fromtimestamp(videos[i][2]).strftime('%m/%d/%Y')}}</a> <br>
                    {%endfor%}
                </h2>
                <br><br><br><br><br>
            </div>
        </div>
    </body>
</html>
