<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a href="/">
                <img src="{{ url_for('static', filename='channel.jpg') }}" height="15" style="vertical-align: middle;"> Memebot9000 feed
            </a>
            <a href="about">About</a>
        </div>
        <div class="information" style="text-align: center;">
            <br><br>
            <video controls style="height: 35vw;" src="/video?id=/id/"></video>
        </div>
    </body>
</html>